:root {
        --ic-brand-primary-darkened-5: #001F57;
--ic-brand-primary-darkened-10: #001D52;
--ic-brand-primary-darkened-15: #001C4E;
--ic-brand-primary-lightened-5: #0C2B63;
--ic-brand-primary-lightened-10: #19366B;
--ic-brand-primary-lightened-15: #264173;
--ic-brand-button--primary-bgd-darkened-5: #001F57;
--ic-brand-button--primary-bgd-darkened-15: #001C4E;
--ic-brand-button--secondary-bgd-darkened-5: #B74527;
--ic-brand-button--secondary-bgd-darkened-15: #A43E23;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-30: #7C7C7C;
--ic-link-color-darkened-10: #AD4125;
--ic-link-color-lightened-10: #C65A3E;
--ic-brand-primary: #00205B;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #C04829;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #C04829;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #00205B;
--ic-brand-global-nav-ic-icon-svg-fill: #FFFFFF;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #00205b;
--ic-brand-global-nav-avatar-border: #C04829;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-logo-bgd: #FFFFFF;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119290/rice-3.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119291/rice-3.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 0.2;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119289/rice-3.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119284/rice-square-2.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119285/rice-square-2.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119286/rice-square-2.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #00205B;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/119386/rice-4.png');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #2773e2;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }